details {
	margin: 1em;
	border: 4px solid black;
}

summary {
	background: black;
	color: #fff;
}

x-text-content:not(:empty) {
	background: yellow;
}

x-props,
x-text-content:not(:empty),
summary {
	padding: 1em;
	display: block;
}
